<div class="project_list">
    <div class="project" *ngFor="let item of projects">

        <div class="img_project_container">
            <a class="cen" href="{{item.pageURL}}">
                <img class="img_project" src="{{item.url}}" alt="{{item.name}}">
            </a>
        </div>
        <div class="description">

            <div><b>Año: </b>{{item.year}}</div>
            <div><b>Descripción: </b>{{item.description}}</div>
            <div><b>Tecnologías: </b>{{item.technologies}}</div>
        </div>

    </div>
</div>