<div class="container">
    <h1 class="text-centered">Contáctame</h1>
    <div class="contact-container">
        <div class="contact-info">
            <h2>Información de Contacto</h2>
            <p><b>Nombre:</b> Guillermo Jiménez De Sárraga</p>
            <p><b>Teléfono: </b>8993-8830</p>
            <p><b>Enviar correo: </b> <a href="mailto:guillermojdes@gmail.com">guillermojdes&#64;gmail.com</a></p>
            <p><b>Ubicación:</b> San José, Costa Rica</p>

        </div>
        <div>
            <p><b>Descargar curriculum:</b><a href=""></a></p>
            <a href="/assets/curriculum.pdf" download="Mi_Curriculum">Descargar Currículum</a>

        </div>

    </div>
</div>