<div class="mission-container">

        <div class="text-container">
            <h2>Misión</h2>
            <p>Desarrollar soluciones tecnológicas innovadoras de alta calidad que satisfagan las necesidades del
                cliente.
            </p>
        </div>

        <div class="text-container">
            <h2>Visión</h2>
            <p>Ser un líder a nivel internacional en el desarrollo de soluciones innovadoras en las áreas de la
                Arquitectura
                de Software y Seguridad Informática reconocido por la honestidad, responsabilidad y la calidad.</p>
        </div>
        <div class="text-container">
            <h2>Valores</h2>
            <p>Honestidad – Responsabilidad – Calidad - Innovación</p>
        </div>
</div>