.interest_list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    /* background-color: black; */
    /* margin: 25px; */
    /* padding: 25px; */
    overflow: hidden;
    
}

.interest-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: orange;
    color: black;
    padding-left: 10px;
    height: 40px;
    border-radius: 0 var(--card-border-radius) 0 0;

    
}

.photo-interest{
    display: flex;
    justify-content: center;
    align-content: center;
}

.interest{
    padding: 20px;
    display: flex;
    flex-direction: row;
    margin: 5px;
    background-color: var(--card-bg-color);
    border-radius: var(--card-border-radius);
    width: 20%;
}

.interest-info{
    padding-left: 10px;
}


img{
    width: 150px;
    height: 150px;
}

.interest-description{
    margin-top: 10px;
    text-align: justify;
}


@media screen and (max-width: 650px) {

    .interest_list{
    }
    .interest{
        width: 100%;
    }
}