/* You can add global styles to this file, and also import other style files */

:root{
    --font-color: white;
    --bg-color:#1f1f1f;
}

*{
    color: var(--font-color);
}

body{
    background-color:var(--bg-color);
}